@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0px;
    color: var(--text-light);
}
a:link, a:visited {
    color: var(--accent-color);
}

main h2 {
    color: var(--text-dark);
}

img {
    width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    padding: 10px;
    box-shadow: 10px 10px 20px black;
}

header {
    background-color: var(--primary-color);
    padding-bottom: 20px;
    width: 100%;
    justify-items: center;
}
header h1{
    padding-top: 10px;
    margin-top: 0px;
}
header button {
    font-size: 1.5em;
    border: none;
    background-color: transparent;
    color: var(--text-light);
}
header nav {
    justify-items: center;
}
header nav #nav {
    display: none;
}
header nav a {
    display: block;
}

main {
    justify-items: center;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
}
main section figure {
    justify-items: center;
}

footer {
    background-color: var(--primary-color);
}

@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    header nav #nav {
        display: inline;
    }
    header nav a {
        display: inline;
    }
    button {
        display: none;
    }
}